:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --basic-white-text: #ffffff;
  --white-text-address: rgba(255, 255, 255, 0.6);
  --first-background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --cap-footer-background-color: #2f303a;
  --logo-second-color: #000000;
  --order-hover-background: #fbff23;
  --header-border-color: #ececec;
  --border-projects: #eeeeee;
  --background-gradient-hero: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
  --btn-hover: #188ce8;
  --backdrop: rgba(0, 0, 0, 0.2);
  --projects-thumb-overlay: rgba(33, 150, 243, 0.9);
  --applications-background: rgba(47, 48, 58, 0.8);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --color-form-input: rgba(117, 117, 117, 0.5);
  --form-border: rgba(33, 33, 33, 0.2);
  --transition-duration: 250ms;
  --font-family-raleway: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  padding-top: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--basic-white-text);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: currentColor;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background-color: var(--basic-white-text);
  border-bottom: 1px solid var(--header-border-color);
}
.header__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}
.header .header__item + .header__item {
  margin-left: 50px;
}
.header .header__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.header__page, .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mail-list {
  display: none;
}
@media screen and (max-width: 1199px) {
  .mail-list {
    margin-top: 21px;
  }
}
@media screen and (min-width: 768px) {
  .mail-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .mail-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.mail-list .mail-list__item + .mail-list__item {
  margin-left: 30px;
}
.mail-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}
.mail-list__icon {
  margin-right: 10px;
  fill: var(--icon-color);
}

@media screen and (max-width: 1199px) {
  .mail-list__link {
    padding-top: 0px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .mail-list .mail-list__item + .mail-list__item {
    margin-left: 0;
  }
}

.header__logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__logo--left, .header__logo--right {
  font-family: var(--font-family-raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
@media screen and (max-width: 1199px) {
  .header__logo--left, .header__logo--right {
    font-size: 24px;
  }
}
.header__logo--right {
  color: var(--logo-second-color);
}

.header__nav .header__link.current {
  color: var(--accent-color);
}

.header__link,
.header__link.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 1199px) {
  .mail-list__icon {
    width: 14px;
  }
}

.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--cap-footer-background-color);
  color: var(--basic-white-text);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--background-gradient-hero)), to(var(--background-gradient-hero))), url(../images/hero_img/mob-1x.jpg);
  background-image: linear-gradient(to right, var(--background-gradient-hero), var(--background-gradient-hero)), url(../images/hero_img/mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_img/mob-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_img/mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-gradient-hero)), to(var(--background-gradient-hero))), url(../images/hero_img/tab-1x.jpg);
    background-image: linear-gradient(to right, var(--background-gradient-hero), var(--background-gradient-hero)), url(../images/hero_img/tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_img/tab-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_img/tab-2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-gradient-hero)), to(var(--background-gradient-hero))), url(../images/hero_img/des-1x.jpg);
    background-image: linear-gradient(to right, var(--background-gradient-hero), var(--background-gradient-hero)), url(../images/hero_img/des-1x.jpg);
    background-size: 1200px 400px;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_img/des-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_img/des-2x.jpg);
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 400px;
  }
}
@media screen and (min-width: 769px) {
  .hero {
    min-height: 600px;
  }
}
.hero__tittle {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.06em;
  line-height: 1.615;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__tittle {
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero__button, .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 216px;
  height: 50px;
  margin: 0 auto;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--basic-white-text);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  text-align: left;
}
.features__tittle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-text-color);
}
@media screen and (max-width: 767px) {
  .features__tittle {
    text-align: center;
  }
}
.features__undertittle {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

.work {
  padding-bottom: 94px;
}
.work .work__uppertittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--tittle-text-color);
}
.work .work__uppertittle {
  margin-top: 0;
  margin-bottom: 50px;
}
.work__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.work__item {
  position: relative;
  display: block;
}
.work__tittle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--applications-background);
  color: var(--basic-white-text);
}
.work__icon {
  display: block;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-background-color);
}
.team .team__uppertittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--tittle-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .team .team__uppertittle {
    margin-bottom: 30px;
  }
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}
@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
  }
}

.team__item {
  padding-bottom: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  text-align: center;
  background-color: var(--basic-white-text);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item .team__tittle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}
.team__item .team__icon {
  display: block;
  margin-bottom: 30px;
}
.team__item .team__undertittle {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__tittle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}
@media screen and (max-width: 1199px) {
  .clients__tittle {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .clients__link {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 92px;
  }
}
.clients__icon {
  fill: var(--icon-color);
}
@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
  }
}

.footer {
  padding: 60px 0px;
  background-color: var(--cap-footer-background-color);
}
@media screen and (min-width: 768px) {
  .footer .footer__address {
    margin-right: 70px;
  }
}
.footer .footer__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
@media screen and (min-width: 1200px) {
  .footer__page {
    text-align: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer__mail {
  color: var(--white-text-address);
}

.container.footer__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .container.footer__page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .container.footer__page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 28px;
}
.footer__logo--right {
  color: var(--basic-white-text);
  font-family: var(--font-family-raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.footer__logo--left {
  font-family: var(--font-family-raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.network .network-list__link {
  fill: var(--basic-white-text);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__list .footer__item:not(:last-child) {
  margin-bottom: 12px;
}

@media screen and (max-width: 1199px) {
  .footer__list .footer__item:last-child {
    margin-bottom: 60px;
  }
}

.address-mail-tel {
  color: var(--basic-white-text);
}

.network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-subscribe__tittle,
.network__tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-white-text);
  margin-bottom: 20px;
}

.network-list__item:not(:last-child) {
  margin-right: 10px;
}

.network-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--icon-color);
}

.footer-subscribe {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (max-width: 1199px) {
  .footer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}
.footer-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 288px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  color: var(--white-text-address);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-subscribe__tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__tittle {
    margin-left: 93px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-subscribe__tittle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .footer-subscribe__tittle {
    margin-top: 60px;
  }
}

.footer-button {
  position: relative;
  width: 200px;
  padding: 10px 62px 10px 28px;
}
.footer-button__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 28px;
  width: 24px;
  height: 24px;
  fill: var(--basic-white-text);
}

.filters {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .filters {
    padding-top: 60px;
  }
}
.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 767px) {
  .filters__list {
    max-width: 425px;
  }
}
@media screen and (min-width: 768px) {
  .filters__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .filters__list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters__list {
    margin-bottom: 48px;
  }
}
.filters__button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--tittle-text-color);
  background: var(--secondary-background-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .filters__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.projects__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  width: 370px;
}
.projects__link .projects__icon {
  display: block;
}
.projects__uppertittle .projects__tittle {
  margin-top: 0;
  margin-bottom: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--tittle-text-color);
}
.projects__uppertittle .projects__undertittle {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.projects__uppertittle {
  padding: 20px 24px;
  border: 1px solid var(--border-projects);
  border-top-color: transparent;
  text-align: left;
}
.projects__thumb {
  position: relative;
  overflow: hidden;
}
.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: var(--projects-thumb-overlay);
  -webkit-transform: translateY(102%);
          transform: translateY(102%);
  -webkit-transition: -webkit-transform 250ms var(--transition-timing-function);
  transition: -webkit-transform 250ms var(--transition-timing-function);
  transition: transform 250ms var(--transition-timing-function);
  transition: transform 250ms var(--transition-timing-function), -webkit-transform 250ms var(--transition-timing-function);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--basic-white-text);
  text-align: left;
}

.projects__item,
.header__link {
  color: var(--tittle-text-color);
}

@media screen and (min-width: 768px) {
  .projects__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__icon {
    width: 370px;
  }
}
@media screen and (max-width: 1199px) {
  .projects__uppertittle--first {
    padding-bottom: 56px;
  }
}

.beckdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: var(--backdrop);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--transition-timing-function), visibility 250ms var(--transition-timing-function);
  transition: opacity 250ms var(--transition-timing-function), visibility 250ms var(--transition-timing-function);
}
.beckdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}
.beckdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--transition-timing-function);
  transition: -webkit-transform 250ms var(--transition-timing-function);
  transition: transform 250ms var(--transition-timing-function);
  transition: transform 250ms var(--transition-timing-function), -webkit-transform 250ms var(--transition-timing-function);
  width: 100%;
  height: 581px;
  padding: 40px;
  background: var(--basic-white-text);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
}
@media screen and (min-width: 528px) {
  .modal {
    width: 528px;
  }
}

.form-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  height: 100%;
}
.form-modal__tittle {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}
.form-modal__field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.form-modal__label {
  display: block;
  margin-bottom: 4px;
}
.form-modal__wrapper {
  position: relative;
  display: block;
}
.form-modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--form-border);
  outline: transparent;
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: -webkit-transform 250ms var(--transition-timing-function);
  transition: -webkit-transform 250ms var(--transition-timing-function);
  transition: transform 250ms var(--transition-timing-function);
  transition: transform 250ms var(--transition-timing-function), -webkit-transform 250ms var(--transition-timing-function);
}
.form-modal__comments {
  width: 100%;
  height: 120px;
  border: 1px solid var(--form-border);
  outline: transparent;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
}
.form-modal__input::-webkit-input-placeholder, .form-modal__comments::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-form-input);
}
.form-modal__input::-moz-placeholder, .form-modal__comments::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-form-input);
}
.form-modal__input:-ms-input-placeholder, .form-modal__comments:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-form-input);
}
.form-modal__input::-ms-input-placeholder, .form-modal__comments::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-form-input);
}
.form-modal__input::placeholder, .form-modal__comments::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-form-input);
}

.form-button {
  width: 200px;
}

.checkbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-left: 14px;
}
.checkbox__contract {
  text-decoration: underline;
  color: var(--accent-color);
}
.checkbox__field {
  position: relative;
  padding-left: 25px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
.checkbox__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.checkbox__checkmark {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid var(--tittle-text-color);
  border-radius: 2px;
  background-color: var(--basic-white-text);
  -webkit-transition: opacity 250ms var(--transition-timing-function);
  transition: opacity 250ms var(--transition-timing-function);
}
.checkbox__icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 2px;
  background-color: var(--btn-hover);
  fill: var(--basic-white-text);
}
.checkbox__input:checked + .checkbox__checkmark {
  opacity: 0;
}

.header__link:focus,
.address-mail-tel:focus,
.footer__mail:focus,
.mail-list__link:focus {
  color: var(--accent-color);
  outline: none;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.header__link:hover,
.address-mail-tel:hover,
.footer__mail:hover,
.mail-list__link:hover {
  color: var(--accent-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.hero__button:hover, .order:hover,
.hero__button:focus,
.order:focus {
  color: var(--basic-white-text);
  background-color: var(--btn-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.filters__button:hover,
.filters__button:focus {
  color: var(--basic-white-text);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.projects__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.filters__button:active {
  color: var(--logo-second-color);
}

.network-list__link:hover,
.network-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--basic-white-text);
  outline: none;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.clients__link:focus,
.clients__link:hover {
  border: 1px solid var(--accent-color);
  outline: none;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.clients__link:hover .clients__icon {
  fill: var(--accent-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.clients__link:focus .clients__icon {
  fill: var(--accent-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.mail-list__link:hover .mail-list__icon {
  fill: var(--accent-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.mail-list__link:focus .mail-list__icon {
  fill: var(--accent-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.projects__link:focus .projects__overlay, .projects__link:hover .projects__overlay {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.modal__close:focus,
.modal__close:hover {
  fill: var(--accent-color);
}

.checkbox__field:focus-within .checkbox__checkmark,
.form-modal__field:focus-within textarea,
.form-modal__field:focus-within input {
  border-color: var(--accent-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.form-modal__field:focus-within .form-modal__icon {
  fill: var(--accent-color);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.header__link {
  position: relative;
  display: block;
}
.header__link.current::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.features__item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .features__item::before {
    padding: 25px 192px;
  }
}
@media screen and (min-width: 768px) {
  .features__item::before {
    max-width: 1199px;
    padding: 25px 144px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item::before {
    padding: 25px 102px;
  }
}

.features--icon-antena::before {
  background-image: url(../images/antenna.svg);
}
.features--icon-clock::before {
  background-image: url(../images/clock.svg);
}
.features--icon-diagramm::before {
  background-image: url(../images/diagram.svg);
}
.features--icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
}

.menu-toggle__close:hover,
.menu-toggle__close:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--basic-white-text);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--basic-white-text);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .mobile-menu__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}

.mobile-menu__link:hover {
  color: var(--accent-color);
}

.mobile-menu__link.current {
  color: var(--accent-color);
}

.mobile-menu li:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu--tel {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__item:last-child {
  margin-top: 32px;
  margin-bottom: 64px;
}

.mobile-menu--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-menu__network {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu--inst {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu--twit,
.mobile-menu--face {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu--lnkd {
  padding-left: 10px;
}/*# sourceMappingURL=main.css.map */