.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
}

.menu-toggle__close:hover,
.menu-toggle__close:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--basic-white-text);
  z-index: 999;

  transform: translateX(250%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
  display: flex;
  justify-content: space-between;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--basic-white-text);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .mobile-menu__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--tittle-text-color);
}

.mobile-menu__link {

  //   margin-bottom: 32px;
  &:hover {
    color: var(--accent-color);
  }

}

.mobile-menu__link.current {
  color: var(--accent-color);

}

.mobile-menu li:not(:last-child) {
  margin-bottom: 32px;

}

.mobile-menu--tel {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__item:last-child {
  margin-top: 32px;
  margin-bottom: 64px;
}

.mobile-menu--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.mobile-menu__network {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__networks {
  display: flex;
  align-items: center;

}


.mobile-menu--inst {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);



}

.mobile-menu--twit,
.mobile-menu--face {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu--lnkd {
  padding-left: 10px;
}