.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    &__tittle {
            margin-bottom: 50px;
    
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.03em;
    
            color: var(--tittle-text-color);
        }
    &__list {
            display: flex;
            justify-content: center;
        }
    &__link {
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 170px;
            height: 92px;
        
            border: 1px solid var(--icon-color);
            border-radius: 4px;
        }
    &__icon {
            fill: var(--icon-color);
        }
    &__item:not(:last-child) {
            margin-right: 30px;
        }
}









