.footer {
  padding: 60px 0px;
  background-color: var(--cap-footer-background-color);
  & .footer__address {
    @media screen and (min-width: $tablet){
    margin-right: 70px;}
  }
  & .footer__item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
  }
  &__page {
    @media screen and (min-width: $desktop){
    text-align: left;
    align-items: baseline;}
  }
  &__mail {
    color: var(--white-text-address);
  }
}

.container.footer__page {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
  }

  justify-content: center;
  // align-items: center;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 28px;
  &--right {
    color: var(--basic-white-text);

    font-family: var(--font-family-raleway);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }
  &--left {
    font-family: var(--font-family-raleway);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    color: var(--accent-color);
  }
}
.network .network-list__link {
  fill: var(--basic-white-text);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__list .footer__item:not(:last-child) {
  margin-bottom: 12px;
}
.footer__list .footer__item:last-child {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.address-mail-tel {
  color: var(--basic-white-text);
}

.network-list {
  display: flex;
  justify-content: center;
}

.footer-subscribe__tittle,
.network__tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-white-text);
  margin-bottom: 20px;
}

.network-list__item:not(:last-child) {
  margin-right: 10px;
}

.network-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--icon-color);
}

.footer-subscribe {
  align-items: center;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 12px;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    gap: 20px;
  }
@media screen and (min-width: $desktop){
  margin-left: 93px;}
  &__input {
    display: flex;
    align-items: center;
    width: 288px;
    height: 50px;
    padding-left: 16px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: transparent;
    color: var(--white-text-address);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
}

.footer-subscribe__tittle { 
  display: flex;

@media screen and (min-width: $desktop) {
        margin-left: 93px;
        
        
    }
        @media screen and (max-width: 1199px){
        justify-content: center;}
  
@media screen and (max-width: 767px){
    margin-top: 60px;
}

}

.footer-button {
  position: relative;
  width: 200px;
  padding: 10px 62px 10px 28px;
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 28px;
    width: 24px;
    height: 24px;
    fill: var(--basic-white-text);
  }
}
