.filters {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;

    }


    &__list {
        display: flex;

        margin: 0 auto;
        margin-bottom: 40px;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: flex-start;
        row-gap: 15px;

        @media screen and (max-width: 767px) {

            max-width: 425px;
        }

        @media screen and (min-width: 768px) {
            justify-content: center;
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 30px;
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 48px;
        }
    }

    // &__list .filters__item+.filters__item {
    //     margin-left: 8px;
    // }

    &__button {
        display: inline-block;
        border-radius: 4px;
        padding: 6px 22px;
        text-align: center;
        border: 1px solid transparent;

        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;

        color: var(--tittle-text-color);
        background: var(--secondary-background-color);
        cursor: pointer;
    }

}

.filters__list {


    @media screen and (min-width: 768px) {
        justify-content: center;
    }
}