:root {
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --accent-color: #2196f3;
    --basic-white-text: #ffffff;
    --white-text-address: rgba(255, 255, 255, 0.6);
    --first-background-color: #f5f5f5;
    --secondary-background-color: #f5f4fa;
    --cap-footer-background-color: #2f303a;
    --logo-second-color: #000000;
    --order-hover-background: #fbff23;
    --header-border-color: #ececec;
    --border-projects: #eeeeee;
    --background-gradient-hero: rgba(47, 48, 58, 0.4);
    --icon-color: #afb1b8;
    --btn-hover: #188ce8;
    --backdrop: rgba(0, 0, 0, 0.2);
    --projects-thumb-overlay: rgba(33, 150, 243, 0.9);
    --applications-background: rgba(47, 48, 58, 0.8);
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --color-form-input: rgba(117, 117, 117, 0.5);
    --form-border: rgba(33, 33, 33, 0.2);
    --transition-duration: 250ms;
    --font-family-raleway: "Raleway", sans-serif;
}